.text-area {
  margin-bottom: 20pr;

  label {
    margin-bottom: 2pr;
    display: block;
    color: #80A6CC;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
  }

  textarea {
    border: 1px solid #DAE3ED;
    min-height: 161pr;
    max-width: 500pr;
    width: 100%;
    padding: 20pr 20pr;
    color: #0A4A6B;
    font-size: 16pr;
    line-height: 19pr;
  }
}
