.dashboard {

  .DayPicker-Day {
    position: relative;
    font-size: 12pr;
    line-height: 14pr;
    color: #0079F2;
    padding: 0;
    width: 20pr;
    height: 20pr;
    border-radius: 0;
  }

  &__day {
    width: 20pr;
    height: 20pr;
    padding: 4pr;
  }
  .DayPicker-Month {
    margin-left: 0;
    margin-right: 40pr;
    margin-bottom: 20pr;
    width: 140pr;
  }

  .DayPicker-Months {
    justify-content: flex-start;
  }

  .DayPicker-Weekday {
    color: #80A6CC;
    font-size: 8pr;
    line-height: 9pr;
    font-weight: bold;
    text-transform: uppercase;
  }

  .DayPicker-Caption {
    color: #054A91;
    font-size: 16pr;
    line-height: 19pr;
    margin-bottom: 20pr;
  }

  .day__start {
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .day__end {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .DayPicker-Day--outside {
    background: transparent!important;
  }
}

.day__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.day__date {
  position: relative;
  z-index: 10;
}
